body{
    box-sizing: border-box;
}
.land{
    padding-top: 100px;
}

.land-text{
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5em;
    background-color: black;
    padding: 20px;
}

.contact-text{
    font-family: 'Press Start 2P', cursive;
    height: 80px;
}