body{
    /*box-sizing: border-box;*/
}
html{
  overflow-x: hidden;
}
.land{
  background-image: url('../img/bg-01.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 0 20px;
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.land-text{
    font-family: 'Press Start 2P', cursive;
    font-size: 1.2em;
    background-color: black;
    padding: 20px;
}

.contact-text{
    font-family: 'Press Start 2P', cursive;
    height: 80px;
}

.capitalize {
    text-transform: capitalize;
  }


/*Timeline*/

.timeline {
    position: relative;
  }
  .timeline .timeline-event {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .timeline .timeline-event .timeline-content {
    position: relative;
    width: calc(50% - 50px);
  }
  .timeline .timeline-event::before {
    display: block;
    content: "";
    width: 2px;
    height: calc(50% - 30px);
    position: absolute;
    background: #d2d2d2;
    left: calc(50% - 1px);
    top: 0;
  }
  .timeline .timeline-event::after {
    display: block;
    content: "";
    width: 2px;
    height: calc(50% - 30px);
    position: absolute;
    background: #d2d2d2;
    left: calc(50% - 1px);
    top: calc(50% + 30px);
  }
  .timeline .timeline-event:first-child::before, .timeline .timeline-event:last-child::after {
    display: none;
  }
  .timeline .timeline-event:nth-child(even) .timeline-content {
    margin-left: calc(50% + 50px);
  }
  .timeline .timeline-event:nth-child(odd) .timeline-content {
    margin-left: 0;
  }
  .timeline .timeline-badge {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background: #280391;
    top: calc(50% - 8px);
    right: calc(50% - 8px);
    border-radius: 50%;
    text-align: center;
    cursor: default;
  }
  .timeline .timeline-badge i {
    font-size: 25px;
    line-height: 40px;
  }
  
  @media (max-width: 600px) {
    .timeline .timeline-event .timeline-content {
      width: calc(100% - 70px);
    }
    .timeline .timeline-event::before, .timeline .timeline-event::after {
      left: 19px;
    }
    .timeline .timeline-event:nth-child(even) .timeline-content, .timeline .timeline-event:nth-child(odd) .timeline-content {
      margin-left: 70px;
    }
    .timeline .timeline-badge {
      left: 12px;
    }
  }